img{
    width: 300px;
}
h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(17, 0, 255);
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(43, 255, 0);
    font-style: italic;
}
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 110, 255);
}
